{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
{% endblock %}

<!-- Content Section -->
{% block content %}
{{ super() }}

<div class="container my-2">
    <div class="container py-5">
        <h2 class="text-center">CÚRIA DIOCESANA</h2>
        <div class="container-fluid text-center">
            <p>Endereço: Rua Fernando Costa, 3-30, Jardim Estoril - Bauru - CEP 17014-130</p>
            <p>Caixa Postal 550 - 17015-970</p>
            <p>CNPJ: 44.454.312/0001-40</p>
            <p>Fone: (14) 3879-8706</p>
            <p>E-mail: curia@bispadobauru.org.br</p>
            <p>Expediente: De 2ª a 6ª feira: das 8h às 12h e das 13h às 17h30</p>
        </div>
    </div>

    <section class="row my-5">
        <div class="col-sm-6">
            <div class="container-fluid py-1">
                <h3 class="text-primary">Bispo diocesano</h3>
                <p>Dom Rubens Sevilha, OCD <br>
                Vigário Geral: Padre Luiz Eduardo Monteiro</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Fontana Ecônomo Diocesano:</h3>
                <p>Pe. Marcos Eduardo Pavan <br>
                    Chanceler: Padre Adinam Roniere da Silva</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Assessoria Jurídica:</h3>
                <p>Eduardo Ferreira Cardoso</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Conselho Presbiteral Diocesano</h3>
                <p>Bispo Diocesano: Dom Rubens Sevilha, OCD<br>
                    Vigário Geral: Pe. Luiz Eduardo Monteiro Fontana<br>
                    Coordenador de Pastoral: Pe. Gustavo Henrique Crepaldi<br>
                    Ecônomo Diocesano: Pe. Marcos Eduardo Pavan<br>
                    Reitor Seminário Diocesano: Pe. Márcio José Cattache<br>
                    Rep. dos Presbíteros: Pe. Wellington Supriano<br>
                    Rep. Regiões Pastorais 1 e 3: Pe. Carlos Henrique Siqueira<br>
                    Rep. Região Pastoral 2: Pe. Frei Alfredo de Souza, SIA<br>
                    Rep. Regiões Pastorais 4 e 5: Pe. Paulo Tavares de Brito<br>
                    Rep. Regiões Pastorais 6 e 7: Pe. Luis Antônio Carqueijo Sé <br>
                    Indicados pelo Bispo Diocesano: Pe. Adinam Roniere da Silva e Pe. Ângelo Ademir Mezzari, RCJ</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Conselho Diocesano para assuntos econômicos</h3>
                <p>Bispo Diocesano: Dom Rubens Sevilha, OCD <br>
                    Coordenador: Pe. Marcos Eduardo Pavan<br>
                    Secretária: Maria Aparecida Baptista Ferrarezi.<br>
                    Conselheiros: Fernando Jorge Salomão.<br>
                     João Svizzero<br>
                     Jackson Celeglin Rodrigues<br>
                     Luiz Célio Bucceroni<br>
                     Pe. Agnaldo Pereira<br>
                     Pe. Milton César Carraschi</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Colégio dos Consultores</h3>
                <p>Pe. Carlos Henrique Andrade Siqueira<br>
                    Pe. Gustavo Henrique Crepaldi<br>
                    Pe. Marcos Eduardo Pavan<br>
                    Pe. Márcio José Cattache<br>
                    Pe. Luis Antonio Carqueijo Sé<br>
                    Pe. Luiz Eduardo Monteiro Fontana</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="container-fluid py-1">
                <h3 class="text-primary">Colaboradores da cúria:</h3>
                <p>Adriana Silva<br>
                    Juzilene Aparecida Chacon Manarin<br>
                    Mariana Sampaio Oliveira<br>
                    Nilo Cesar da Cunha Gimenes<br>
                    Patrícia dos Santos Silva<br>
                    Vaneska Aparecida Henrique</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Câmara Auxiliar Eclesiástica de Bauru</h3>
                <p>Vigário Judicial:<br>
                    Pe. Luiz Eduardo Monteiro Fontana<br>
                    Fone: (14) 3234-6908<br>
                    E-mail: camaraeclesiastica@bispadobauru.org.br</p>
            </div>
            <div class="container-fluid py-1">
                <h3 class="text-primary">Principais objetivos do Conselho de Leigos</h3>
                <ul>
                    <li>Despertar a consciência da identidade, da vocação e missão dos leigos e leigas na busca de uma presença efetivamente transformadora no mundo e na Igreja.</li>
                    <li>Incentivar a Vivência eclesial, mediante a troca de experiências e convívio entre os diversos movimentos, pastorais, leigos e leigas engajados em paróquias e comunidades, no respeito mútuo e na busca de caminhos e respostas comuns.</li>
                    <li>Criar e incentivar mecanismos para oferecer uma formação integral, gradual, buscando capacitá-los para que possam responder com eficácia aos desafios a que são chamados no exercício de sua vocação.</li>
                    <li>Levar leigos e leigas a descobrirem e vivenciarem sua espiritualidade nos seus ambientes de trabalho, de lazer, de convívio cotidiano, à moda do sal e fermento.</li>
                    <li>Incentivar a articulação e organização do laicato nos diferentes níveis da Diocese.</li>
                    <li>Estimular a participação permanente do laicato nos processos de planejamento, decisão, execução e avaliação da Ação Evangelizadora da Igreja.</li>
                    <li>Representar o laicato junto aos setores organizados da Igreja Católica e outras Igrejas Cristãs e da própria sociedade.</li>
                    <li>Fazer-se presente na caminhada ecumênica, contribuindo e incentivando a comunhão entre leigos católicos e de outras Igrejas Cristãs, na base do Povo de Deus.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="py-5">
        <h2 class="text-center text-primary">Conselho Nacional do Laicato da Diocese de Bauru (CNLB-DB)</h2>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 d-flex justify-content-center">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Presidente
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Wilson Batista Ferreira <br>
                    Rua Fortunato Resta, 12-44, Jardim Jussara <br>
                    Bauru – SP – CEP 17055-002 <br>
                    Fones: (14) 3018-0112  98816-4400 / 3016-4400 <br>
                    E-mail: wilson.tuim@hotmail.com
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0 d-flex justify-content-center">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Vice Presidente
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Fátima Aparecida Ferre <br>
                  Rua Heitor de Andrada Campos, 2-177, Jardim Prudência <br>
                  Bauru – SP – CEP 17065-032 <br>
                  Fones: (14) 3218-3623/ 3235-4067/ 99794-5611 <br>
                  E-mail: fatimaapferre@yahoo.com.br
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0 d-flex justify-content-center">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Secretário
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Paulo Roberto Franco <br>
                  Rua Doutor José Raniere, 12-104, Jardim Marambá <br>
                  Bauru – SP – CEP 17030-370 <br>
                  Fones: (14) 98828-3934 <br>
                  E-mail: paulofranco@terra.com.br
                </div>
              </div>
            </div>
          </div>

            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0 d-flex justify-content-center">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Tesoureiro
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  Luiz Vitório Orti <br>
                  Rua Alfredo Ruiz, 17-77, Jardim Estoril <br>
                  Bauru – SP – CEP 17016-020 <br>
                  Fone: (14) 98135-0299 <br>
                  E-mail: luiz.orti@uol.com.br
                </div>
              </div>
            </div>
          </div>
    </section>
</div>

{% endblock %}