{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
{% endblock %}

<!-- Content Section -->
{% block content %}
{{ super() }}

<section class="container">
    <div class="row">
    <div class="col-sm-6">
        <div class="container-fluid">
            <h3 class="text-primary"> Congregações Religiosas Femininas</h3>
            <p class="text-start"> <b  class="text-primary">1. Irmãs Apóstolas do Sagrado Coração de Jesus</b> </p>
            <p class="text-start"> <b>1.1) Colégio São Francisco de Assis </b> <br>
            Rua Santo Antônio, 6-56, Jardim Bela Vista <br>
            Bauru – SP – CEP 17060-500 <br>
            Fone: (14) 3102-2222 <br>
            E-mail: irtvaz@yahoo.com.br <br>
            <b>1.2) Colégio São José</b> <br>
            Rua Antônio Alves, 12-66, Centro <br>
            Bauru – SP – CEP 17015-330 <br>
            Fone: (14) 3366-3000 <br>
            E-mail: ir.jucelia@yahoo.com.br <br>
            <b>1.3) Colégio Infantil Madre Clélia</b>  <br> 
            (Em reforma durante o ano de 2019. Retorna as<br>
            atividades em 2020 como Residência Geriátrica <br>
            Madre Clélia). <br>
            Rua Luiz Aleixo, 2-69, Vila Cardia <br>
            Bauru – SP – CEP17013-590 <br>
            Fones: (14) 3223-2057 <br>
            Fax: (14) 3227-0812 <br>
            E-mail: cemc@neobiz.com.br <br>
            <b>1.4) Universidade do Sagrado Coração </b> <br>
            Rua Irmã Arminda, 10-50, Jardim Brasil <br>
            Bauru – SP – CEP 17011-160 <br>
            Fone: (14) 2107-7000 E-mail: ir.fabiana@usc.br </p>
        </div>
        <div class="container-fluid">
            <h3 class="text-primary"> Congregações Religiosas Masculinas</h3>
            <p class="text-start"> <b class="text-primary">2. Ordem da Imaculada Conceição, OIC</b> </p>
                <p class="text-start"> <b>1.1) Seminário Seráfico Santo Antônio </b><br>
                Seminário Menor e Casa de Encontros e Retiros <br>
                Estrada de Piratininga, KM 04, Caixa Postal 32 <br>
                Agudos – SP – CEP 17120-000 <br>
                Fones: (14) 3262-1215 <br>
                Fax: (14) 3262-2565 <br>
                E-mail: tesouraria@seminario.org.br <br>
                <b> 1.2) Paróquia Santo Antônio – Bauru </b><br>
                <b> 1.3) Paróquia Santo Antônio- Agudos</b> <br>
                <b> 1.4) Paróquia Santa Clara de Assis – Bauru</b> <br>
                <b> 1.5) Paróquia São Paulo Apóstolo – Agudos</b> <br>
                <b> 1.6) Paróquia São Sebastião – Avaí</b>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="container-fluid">
            <p class="text-start"> <b class="text-primary"> 2. Companhia de Maria (Marianistas) </b> <br>
                <b>2.1) Residência Marianista </b> <br>
                Rua Santa Paula, 4-33, Jardim Redento <br>
                Bauru – SP – CEP 17032-150 <br>
                Fone: (14) 3206-7536  <br>
                E-mail: angelpalaciossa@yahoo.com.br <br>
                2.2) Paróquia Maria Mãe do Redentor <br>
                <b class="text-primary"> 3. Missionários do Sagrado Coração </b><br>
                Santuário Nossa Senhora Aparecida <br>
                Praça Washington Luís, 4-51, Centro <br>
                Bauru – SP – CEP 17010-210 <br>
                Fone: (14) 3202-9031  <br>
                E-mail: secretaria@santuarioaparecidabauru.com.br <br>
                <b class="text-primary">4. Rogacionista do Coração de Jesus </b> <br>
                Seminário Propedêutico <br>
                Alameda Cônego Anibal Di Frância, 12-55, <br>
                Parque Vista Alegre <br>
                Bauru – SP – CEP 17020-690 <br>
                Fones: (14) 3237-7475  <br>
                E-mail: propedeutico.br@rcj.org <br>
                <b class="text-primary">5. Irmãos do Sagrado Coração, SC </b> <br>
                Rua Irmãos do Sagrado Coração,  <br>
                3-30, Núcleo José Regino <br>
                Bauru – SP – CEP 17031-723 <br>
                Fone: (14) 3203-5568 E-mail: ctv.irsc@gmail.com
            </p>
        </div>

        <div class="container-fluid">
            <h3 class="text-primary"> Associação Pública de Fiéis </h3>
            <p class="text-start"> Fraternidade Santo Inácio de Antioquia <br>
                Residência dos Frades Inacianos e Casa de Formação <br>
                (Postulantado e Noviciado Inaciano) <br>
                Alameda das Hortênsias, 8-40, Parque Vista Alegre <br>
                Bauru – SP – CEP 17020-510 <br>
                Fone: (14) 3202-8187  <br>
                E-mail: alfredodesouza1966@gmail.com <br>
            </p>
        </div>
        <div class="container-fluid">
            <h3 class="text-primary"> Casas de Formação dos Religiosos </h3>
            <p class="text-start"> <b class="text-primary">1. Rogacionistas do Coração de Jesus - RCJ</b> <br>
                Seminário Rogacionista João XXIII <br>
                Fone: (14) 3237-7475 <br>
                Alameda Côn. Anibal Difrancia, <br>
                12-55 - Parque Vista Alegre  <br>
                Caixa Postal 297 (17015-970) <br>
                Bauru – SP – CEP: 17020-690 <br>

                <b class="text-primary" >2. Irmãos do Sagrado Coração </b>  <br>
                Noviciado dos Irmãos do Sagrado Coração <br>
                Fone/Fax: (14) 3203-5568 <br>
                Rua: Irmãos do Sagrado Coração,  <br>
                3-30 - N. José Regino <br>
                Caixa Postal 2011 (17032-970) – Bauru – SP <br>
                E-mail: ctv.irsc@gmail.com <br>
            </p>
        </div>
    </div>
</section>

{% endblock %}