{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
    <style type="text/css">
        .teste { color: #336699; }
    </style>
{% endblock %}

<!-- Content Section -->
{% block content %}
{{ super() }}
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center my-5">Acontece na Diocese</h2>
        <div class="row">
            {% for x in range(4) %}
            <div class="col-md-3">
                <a href="#">
                    <div class="card mb-4 shadow-sm">
                        <img src="media/zoo.jpg" alt="" srcset="">
                        <div class="card-body text-center">
                            <p class="card-text">Palestras/campanha {% print(x+1) %}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col-md-3">
                <a href="">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            <p class="card-text text-muted">ver mais</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <h2 class="text-center my-5">Conversa com o Bispo</h2>
        <div class="row">
            {% for x in range(4) %}
            <div class="col-sm-3">
                <a href="#">
                    <div class="card mb-3 shadow-sm">
                        <img src="media/zoo.jpg" alt="" srcset="">
                        <div class="card-body text-center p-5">
                            <p class="card-text">Conversa {% print(x+1) %}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- <button class="btn btn-primary mb-4 shadow-sm d-flex justify-content-end">
                <div class="text-center">
                    <p class="text-muted">ver mais</p>
                </div>
            </button> -->
            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
                <div class="p-2 bd-highlight">Flex item</div>
                <div class="p-2 bd-highlight">Flex item</div>
                <div class="mt-auto p-2 bd-highlight">Flex item</div>
            </div>
        </div>
        
        <h2 class="text-center my-5">Galeria de vídeos</h2>
        <div class="row">
            {% for x in range(2) %}
            <div class="col-md-6">
                <div class="card mb-3 shadow-sm">
                    <div class="video py-3">
                        <video src="#"></video>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    {% endblock %}
    