{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
    <style type="text/css">
        .teste { color: #336699; }
    </style>
{% endblock %}

<!-- Content Section -->
{% block content %}
{{ super() }}

<section class="jumbotron ">
    <div class="container-fluid d-flex flex-row row">
        <div class="col-md-6">
            <div class="hidden-md-down">
                <div class="container col-md-6 mb-3">
                    <p>Sobre a Diocese</p>
                    <p>A Diocese de Bauru é uma divisão territorial da Igreja Católica no estado de São Paulo.[1] Criada no dia 15 de fevereiro de 1964,[1] mediante a bula Christi Gregis, do papa Paulo VI, no contexto histórico do Concílio Vaticano II, que deu novos rumos à Igreja Católica.<br>
                        Atualmente, fazem parte da Diocese de Bauru 14 municípios: Agudos, Arealva, Avaí, Bauru, Boracéia, Cabrália Paulista, Duartina, Fernão, Gália, Iacanga, Lucianópolis, Paulistânia, Pederneiras e Piratininga. A Diocese de Bauru possui 41 paróquias, divididas em sete Regiões Pastorais. Sua população é de aproximadamente 450 mil pessoas (Censo IBGE, 2010). <br>
                    Foi criada em  15 de fevereiro de 1964, mediante a Bula Christi Gregis, do papa Paulo VI. <br>
                    categorias.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="h2 text-center">Destaques</div>
            <div class="container d-flex flex-column text-center col-md-6 mb-3">
                {% for x in range(4) %}
                <a href="#" class="nav-item">
                    <div class="card py-3 my-2">
                        <p>destaque {% print(x+1) %}</p>
                    </div>
                </a>
                {% endfor %}
                </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center my-5">Acontece na Diocese</h2>
        <div class="row">
            {% for x in range(4) %}
            <div class="col-md-3">
                <a href="#">
                    <div class="card mb-4 shadow-sm">
                        <img src="media/zoo.jpg" alt="" srcset="">
                        <div class="card-body text-center">
                            <p class="card-text">Palestras/campanha {% print(x+1) %}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col-md-3">
                <a href="">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            <p class="card-text text-muted">ver mais</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <h2 class="text-center my-5">Conversa com o Bispo</h2>
        <div class="row">
            {% for x in range(4) %}
            <div class="col-sm-3">
                <a href="#">
                    <div class="card mb-3 shadow-sm">
                        <img src="media/zoo.jpg" alt="" srcset="">
                        <div class="card-body text-center p-5">
                            <p class="card-text">Conversa {% print(x+1) %}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- <button class="btn btn-primary mb-4 shadow-sm d-flex justify-content-end">
                <div class="text-center">
                    <p class="text-muted">ver mais</p>
                </div>
            </button> -->
            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
                <div class="p-2 bd-highlight">Flex item</div>
                <div class="p-2 bd-highlight">Flex item</div>
                <div class="mt-auto p-2 bd-highlight">Flex item</div>
            </div>
        </div>
        
        <h2 class="text-center my-5">Galeria de vídeos</h2>
        <div class="row">
            {% for x in range(2) %}
            <div class="col-md-6">
                <div class="card mb-3 shadow-sm">
                    <div class="video py-3">
                        <video src="#"></video>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    {% endblock %}
    