{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
{% endblock %}


<!-- Content Section -->
{% block content %}
{{ super() }}

    <div data-bs-spy="scroll" data-bs-target="#navbar-example">
        <div id="navbar-example">
            <div class="nav nav-tabs" role="tablist">

                <div class="row" >
                    <div class="col-lg-4">
                        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                            <a class="navbar-brand" href="#"> <b class="text-primary"> Informações Úteis</b></a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#item-1">Ação Missionária </a>
                                <a class="nav-link" href="#item-2">Bens Temporais da Igreja </a>
                                <a class="nav-link" href="#item-3">Bíblico Catequético </a>
                                <a class="nav-link" href="#item-4">Caridade</a>
                                <a class="nav-link" href="#item-5">Charis </a>
                                <a class="nav-link" href="#item-6">Comunicação Social </a>
                                <a class="nav-link" href="#item-7">Educação e Cultura </a>
                                <a class="nav-link" href="#item-8">Espiritualidade</a>
                                <a class="nav-link" href="#item-9">Juventude</a>
                                <a class="nav-link" href="#item-10">Liturgia </a>
                                <a class="nav-link" href="#item-11">Ministérios, Vocações e Vida Consagrada </a>
                                <a class="nav-link" href="#item-12">Vida e Família</a>
                            </nav>
                        </nav>
                    </div>

                    <div class="col-lg-2"></div>


                    <div class="col-lg-6 p-3">
                        <div class="scrollspy-example-2" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                            <h2 id="item-1">Ação Missionária</h2>
                            <p>
                            <h4 class="text-primary"> Coordenadores </h4>
                                    Carlos Eduardo Empke Vianna e Andréa Carla Gonçalves Vianna
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Wellington Supriano
                                <h4 class="text-primary">Pastorais integrantes </h4>

                                Conselho Missionário Diocesano (COMIDI) <br>

                                Infância e Adolescência Missionárias <br>

                                Diocese de Cristalândia 
                            </p>

                            <h2 id="item-2"> Bens Temporais da Igreja </h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Afonso Gomes Jardim Filho e Maria Flávia Colichio Jardim  
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Agnaldo Pereira
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Atendentes Paroquiais <br>

                                Equipe Econômica <br>

                                CAP – Representante Diocesano <br>

                                Pastoral do Dízimo <br>

                                Comissão de Obras: projetos, reformas e obras

                            <h2 id="item-3">Bíblico Catequético</h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Cledair Claudete dos Reis Moura 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Anderson Luís Moreira
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Catequese Infantil <br>

                                Catequese de Adultos <br>

                                Batismo <br>

                                Crisma <br>

                                Escola de Atualização Bíblico-Catequética "Rainha da Paz" <br>

                                Curso de Teologia para Leigos <br>
                            </p>

                            <h2 id="item-4">Caridade</h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    José Eduardo Rubo 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Milton César Carraschi
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Pastoral da Criança <br>

                                Pastoral do Menor <br>

                                Pastoral Carcerária <br>

                                Pastoral da Sobriedade <br>

                                Pastoral Saúde <br>

                                Pastoral da Pessoa Idosa <br>

                                Pastoral da Terra <br>

                                Campanha da Fraternidade <br>

                                Fundo Diocesano de Solidariedade <br>

                                Cáritas <br>

                                Vicentinos <br>

                                Ecumenismo <br>

                                CNLB <br>

                                Obras sociais católicas
                        </p>  
                        <p> Acesse a página do setor caridade clicando <u class="text-primary"> aqui</u > . </p>

                            <h2 id="item-5">Charis</h2>
                            <p>
                            <h4 class="text-primary"> Coordenadores </h4> 
                                    Samuel do Prado / Wilson Rossi Gabriel / André Barbosa de Lima <br>
                            / Andreia Cristina Nunes Barbosa 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe Gustavo Henrique Crepaldi
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Comunidade Kenosis  <br>

                                Comunidade Famílias Novas <br>

                                Comunidade Missionária Jesus Maria e José <br>

                                Comunidade Jovens Sarados <br>

                                Missão Católica Resgatar <br>

                                Terço 7 dores de Maria <br>

                                Hallel Bauru <br>

                                Colo de Deus <br>

                                Comunidade Evangelizar Casais <br>

                                Movimento Jesus Misericordioso <br>

                                Comunidade Bom Pastor <br>

                                Comunidade Shalom 
                            </p>
                        
                            <h2 id="item-6">Comunicação Social</h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Thayná Fogaça 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Gustavo Rubin da Mota
                                <h4 class="text-primary"> Pascom </h4>

                                <img src="./Pascom ID.jpeg" alt="">
                                <img src="./Pascom.jpeg" alt="">
                                
                            

                            <h2 id="item-7"> Educação e Cultura  </h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    José Ricardo Scarelli Carrijo
                            <h4 class="text-primary">Assessor</h4> 
                                    José Ricardo Scarelli Carrijo
                                <h4 class="text-primary"> Atividades e Setores</h4>

                                Setor Educação e Ensino Religioso <br>

                                Setor Universidade (Pastoral Universitária e GOUs) <br>

                                Comitês de Ética <br>

                                Universidades Renovadas <br>

                                Pastoral da Educação <br>
                            </p>

                            <h2 id="item-8">Espiritualidade</h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Ercília Fiorelli
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Gustavo da Natividade
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Apostolado da Oração <br>

                                Legião de Maria <br>

                                Cursilho de Cristandade <br>

                                Focolares <br>

                                Oficina de Oração e Vida <br>

                                Terço dos Homens <br>

                                Terço das Mulheres <br>

                                Mães que oram <br>

                                Confrarias <br>

                                Nipo Brasileira <br>

                                Caminho Neo Catecumenal
                            </p>

                            <h2 id="item-9"> Juventude </h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Gustavo Irineu da Silva 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Camilo da Silva Mattos
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Pastoral da Juventude <br>

                                Grupo de Jovens <br>

                                TLC <br>

                                Equipe de Jovens de Nossa Senhora <br>

                                EAC <br>

                                Ministério Jovem 
                            </p>

                            <h2 id="item-10"> Liturgia </h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Marco Antonio Modesto 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Everaldo Junior Rambaldi
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Pastoral da Acolhida <br>

                                Cerimonial Diocesano <br>

                                Setor da Pastoral Litúrgica <br>

                                Mece <br>

                                Equipes de Celebração <br>

                                Celebrações e reflexões de textos para Recursos multimídia <br>

                                Equipes de Música, Bandas, Ministério de Música <br>

                                Cursos de Música Litúrgica <br>

                                Pastoral da Esperança <br>

                                Coroinhas
                            </p>

                            <h2 id="item-11">Ministérios, Vocações e Vida Consagrada</h2>
                            <p>
                            <h4 class="text-primary"> Coordenador </h4> 
                                    Jucemara C. Lima 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Anderson Luís Moreira
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Serviço de Animação Vocacional (SAV) <br>

                                Seminário Diocesano Equipe - Equipe Diocesana de Promoção Vocacional Presbiteral <br>

                                Movimento Serra <br>

                                Capelinha <br>

                                CRB - Núcleo Bauru <br>

                                Pastoral Presbiteral <br>

                                Diáconos Permanentes  
                            </p>

                            <h2 id="item-12"> Vida e Família</h2>
                            <p>
                            <h4 class="text-primary"> Coordenadores </h4> 
                                    Ayres Belone Junior e Andreia de Faria Fernandes Belone 
                            <h4 class="text-primary">Assessor</h4> 
                                    Pe. Giuliano Henrique Lourenço Alamino
                                <h4 class="text-primary"> Atividades e Setores </h4>

                                Pastoral Familiar <br>

                                E.C.C. (Encontro de Casais com Cristo) <br>

                                M.F.C. (Movimento Familiar Cristão) <br>

                                Equipes de Nossa Senhora <br>

                                Ministérios das Famílias <br>

                                E.C. (Encontro com Cristo) <br>

                                N. Sra. da Esperança (viúvos e adultos solteiros) <br>

                                Bom Pastor (2ª União) <br>

                                Retiro Sagrada Família <br>

                                M.E.C. – Movimento de Equipe de Casais – São Judas / Bauru <br>

                                Encontro de Preparação para a Vida Matrimonial
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}