{% extends "layouts/base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container my-5">
    <h1>Pastorais e Movimentos</h1>

    <p>A Diocese de Bauru organiza seu Conselho Diocesano de Pastoral a partir do Bispo, coordenação pastoral diocesana e 13 setores que reúnem as pastorais diocesanas e paroquiais, os movimentos, as associações e os serviços existentes, a saber: </p>

    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1"><img src="media/zoo.jpg" alt=""></div>
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1"><img src="media/zoo.jpg" alt=""></div>
    </div>

    <p class="my-5">Com base nos pilares da ação evangelizadora no Brasil, assim se concentram os setores por afinidade de ação:</p>

    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">ORGANIZAÇÃO DO CONSELHO DIOCESANO DE PASTORAL</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">SETORES</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">OS PILARES DA AÇÃO EVANGELIZADORA</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">SETORES PARA EVANGELIZAÇÃO</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">MISSÃO: EIXO TRANSVERAL</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
            <h3 class="lead text-center">SETOR LITURGIA - ORGANIZAÇÃO</h3>
            <img src="media/zoo.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center my-3 p-1">
        <h3 class="lead text-center">AÇÃO SOCIAL DA IGREJA</h3>
        <img src="media/zoo.jpg" alt="">
    </div>
</div>

{% endblock %}